@charset "UTF-8";
@font-face {
  font-family: 'futurabook';
  src: url("../fonts/futura_book_font-webfont.woff2") format("woff2"), url("../fonts/futura_book_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_futuralightbt';
  src: url("../fonts/futuralightbt.eot");
  src: local("☺"), url("../fonts/futuralightbt.woff") format("woff"), url("../fonts/futuralightbt.ttf") format("truetype"), url("../fonts/futuralightbt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_futuramediumbt';
  src: url("../fonts/futuramediumbt.eot");
  src: local("☺"), url("../fonts/futuramediumbt.woff") format("woff"), url("../fonts/futuramediumbt.ttf") format("truetype"), url("../fonts/futuramediumbt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_FuturaMediumItalicfont';
  src: url("../fonts/FuturaMediumItalicfont.eot");
  src: local("☺"), url("../fonts/FuturaMediumItalicfont.woff") format("woff"), url("../fonts/FuturaMediumItalicfont.ttf") format("truetype"), url("../fonts/FuturaMediumItalicfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_BaskervilleItalicBT';
  src: url("../fonts/BaskervilleItalicBT.eot");
  src: local("☺"), url("../fonts/BaskervilleItalicBT.woff") format("woff"), url("../fonts/BaskervilleItalicBT.ttf") format("truetype"), url("../fonts/BaskervilleItalicBT.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the variables */
body {
  background-color: #fafafa;
  color: #666666;
  font-size: 18px;
  background-image: url("../images/bg-line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "futurabook" !important;
  font-weight: normal;
}

/* end the variables */
/*###########################################################################
############################## header section ###############################*/
.fixed-top {
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top-inner {
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: block;
}

.header .navbar .navbar-brand {
  width: 200px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  color: #666666;
  padding: 0;
  outline: 0 !important;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #ffffff00;
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 26px;
  width: 26px;
}

.header .navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: -40px;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #666666;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px;
  letter-spacing: 0.12;
  font-family: "futurabook";
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  color: #ED5C37;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  color: #ED5C37 !important;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
  display: block;
  background-color: #ED5C37;
  color: #ffffff;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:hover {
  background-color: #f2f2f2;
  color: #ED5C37;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*############################## Home section ###############################*/
.img-fluid {
  width: 100%;
}

.btn-book-cunsltaion {
  background-color: #ED5C37;
  color: #FFFFFF;
}

.btn-book-cunsltaion:hover {
  background-color: #ED5C37;
  color: #FFFFFF;
}

.btn-see-more {
  background-color: #ffffff;
  color: #ED5C37;
  border: 1px solid #ED5C37;
}

.btn-see-more:hover {
  background-color: #ED5C37;
  color: #ffffff;
}

.btn-hover-up:hover {
  -webkit-box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
          box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.middle-section .middle-inner {
  background-image: url("../images/back-pattern.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: top right;
  padding-top: 80px;
}

.middle-section .home-section {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  background-image: url("../images/back-pattern.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: bottom left;
}

.middle-section .home-section .home-inner {
  background-image: url("../images/back-pattern.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: top right;
  max-width: 1920px;
  width: 100%;
  padding: 100px 0;
}

.middle-section .home-section .home-inner .all-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.middle-section .home-section .home-inner .home-welcome .welcome-content {
  padding-left: 13%;
}

.middle-section .home-section .home-inner .home-welcome .welcome-content h1 {
  padding: 10px 0 10px 0;
  margin-bottom: 50px;
  font-size: 40px;
  color: #222222;
  font-family: "Conv_futuramediumbt";
  letter-spacing: 0;
  text-align: left;
  position: relative;
}

.middle-section .home-section .home-inner .home-welcome .welcome-content h1::after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 50px;
}

.middle-section .home-section .home-inner .home-welcome .welcome-content P {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 30px;
  font-family: "futurabook";
}

.middle-section .home-section .home-inner .home-welcome .welcome-content P span {
  display: block;
}

.middle-section .home-section .home-inner .home-welcome .solution-tabs {
  padding: 30px 0;
  padding-left: 13%;
}

.middle-section .home-section .home-inner .home-welcome .solution-tabs ul {
  padding: 0;
  margin: 0;
  border: 0;
}

.middle-section .home-section .home-inner .home-welcome .solution-tabs ul li {
  display: inline-block;
  list-style: none;
}

.middle-section .home-section .home-inner .home-welcome .solution-tabs ul li a {
  padding: 10px 20px;
  background: #F1F3F5;
  font-size: 14px;
  color: #222222;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  font-family: "futurabook";
  margin-right: 8px;
  line-height: 22px;
  display: inline-block;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .home-section .home-inner .home-welcome .solution-tabs ul li a:hover {
  background: rgba(237, 92, 55, 0.1);
  color: #ED5C37;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .home-section .home-inner .home-welcome .solution-tabs ul li a.active {
  background: rgba(237, 92, 55, 0.1);
  color: #ED5C37;
  text-align: left;
  text-decoration: none;
}

.middle-section .home-section .home-inner .tab-home {
  position: relative;
}

.middle-section .home-section .home-inner .tab-home::before {
  content: '';
  position: absolute;
  width: 35%;
  height: 100%;
  background-image: linear-gradient(269deg, #FAFAFA 5%, rgba(255, 255, 255, 0) 80%);
  right: 0;
  top: 0;
  z-index: 99;
}

.middle-section .home-section .home-inner .tab-home .tab-pane {
  width: 100%;
  max-height: 650px;
  min-height: 650px;
  overflow: hidden;
}

.middle-section .home-section .home-inner .tab-home .tab-pane img {
  width: 100%;
  height: auto;
}

.middle-section .our-strtagic-section {
  background-color: #ffffff;
  height: auto;
  overflow: hidden;
}

.middle-section .our-strtagic-section .stratagic-inner {
  padding: 80px 0;
}

.middle-section .our-strtagic-section .stratagic-inner .tab-strtagic .tab-pane {
  display: none;
}

.middle-section .our-strtagic-section .stratagic-inner .tab-strtagic .tab-pane .startgic-content h2 {
  margin-bottom: 50px;
  font-size: 40px;
  color: #222222;
  font-family: "Conv_futuramediumbt";
  letter-spacing: 0;
  text-align: left;
  position: relative;
}

.middle-section .our-strtagic-section .stratagic-inner .tab-strtagic .tab-pane .startgic-content h2::after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
}

.middle-section .our-strtagic-section .stratagic-inner .tab-strtagic .tab-pane .startgic-content h4 {
  font-size: 22px;
  color: #222222;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 30px;
}

.middle-section .our-strtagic-section .stratagic-inner .tab-strtagic .tab-pane .startgic-content p {
  font-size: 16px;
  color: #5D5F65;
  letter-spacing: 0;
  line-height: 24px;
}

.middle-section .our-strtagic-section .stratagic-inner .tab-strtagic .tab-pane .startgic-content p span {
  background-color: #F3ECED;
  padding: 10px 30px;
  display: block;
  border-left: 3px solid #ED5C37;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.middle-section .our-strtagic-section .stratagic-inner .tab-strtagic .active {
  display: block;
}

.middle-section .like-wat-you-see {
  background-image: url("../images/black.png");
  background-repeat: no-repeat;
  background-size: 180px;
  background-attachment: scroll;
  background-position: right bottom;
  background-color: #222222;
  padding: 0px 0 50px 0;
}

.middle-section .like-wat-you-see .like-wat-you-see-inner {
  background-image: url("../images/black.png");
  background-repeat: no-repeat;
  background-size: 180px;
  background-attachment: scroll;
  background-position: left top;
  padding: 50px 0 0px 0;
}

.middle-section .like-wat-you-see h2 {
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: left;
  line-height: 54px;
  font-family: "Conv_futuralightbt";
  margin-bottom: 0;
}

.middle-section .like-wat-you-see h2 span {
  display: inline-block;
  position: relative;
  font-family: "Conv_FuturaMediumItalicfont";
}

.middle-section .like-wat-you-see h2 span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #ED5C37;
}

.middle-section .like-wat-you-see .bookcunstation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .like-wat-you-see .bookcunstation a {
  padding: 8px 56px;
  border-radius: 0;
  font-size: 18px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.middle-section .our-service-section {
  background-color: rgba(242, 242, 242, 0.5);
}

.middle-section .our-service-section .our-service-box {
  padding: 50px 20px 50px 15%;
}

.middle-section .our-service-section .our-service-box h2 {
  font-size: 40px;
  color: #222222;
  font-family: "Conv_futuramediumbt";
  letter-spacing: 0;
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

.middle-section .our-service-section .our-service-box h2::after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
}

.middle-section .our-service-section .our-service-box p {
  font-size: 18px;
  color: #666666;
  letter-spacing: 0.6px;
  text-align: left;
  line-height: 26px;
}

.middle-section .our-service-section .our-service-slide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0px;
  text-decoration: none;
}

.middle-section .our-service-section .our-service-slide a img {
  width: 28px;
  height: auto;
  margin-bottom: 20px;
}

.middle-section .our-service-section .our-service-slide a img.img-32 {
  width: 32px;
}

.middle-section .our-service-section .our-service-slide a h4 {
  font-size: 22px;
  color: #141720;
  text-align: center;
  line-height: 26px;
  font-family: "Conv_futuramediumbt";
}

.middle-section .our-service-section .our-service-slide a p {
  font-size: 18px;
  color: #666666;
  letter-spacing: 0.6px;
  text-align: center;
  line-height: 26px;
}

.middle-section .our-service-section .owl-carousel .owl-nav button {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent;
  outline: none;
}

.middle-section .our-service-section .owl-carousel .owl-nav button:hover {
  background-color: transparent;
}

.middle-section .our-service-section .owl-carousel .owl-nav button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none;
}

.middle-section .our-service-section .owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  left: -395px;
  bottom: 32px;
}

.middle-section .expert-section {
  padding: 80px 0;
  background-color: #ffffff;
}

.middle-section .expert-section .expert-content {
  margin-bottom: 50px;
}

.middle-section .expert-section .expert-content h2 {
  font-size: 40px;
  color: #222222;
  font-family: "Conv_futuramediumbt";
  letter-spacing: 0;
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

.middle-section .expert-section .expert-content h2::after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
}

.middle-section .expert-section .expert-content p {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 30px;
}

.middle-section .expert-section .pad-left-0 {
  padding-left: 0;
}

.middle-section .expert-section .pad-right-0 {
  padding-right: 0;
}

.middle-section .expert-section .hover-img-expert {
  display: block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.middle-section .expert-section .hover-img-expert:hover {
  -webkit-box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
          box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
}

.middle-section .expert-section .order-sm-2 {
  -webkit-box-ordinal-group: 2 !important;
      -ms-flex-order: 1 !important;
          order: 1 !important;
}

.middle-section .expert-section .content-box-expert {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.middle-section .expert-section .content-box-expert h3 {
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  text-align: center;
  line-height: 30px;
  font-family: "Conv_futuramediumbt";
  letter-spacing: 0;
}

.middle-section .expert-section .content-box-expert p {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  line-height: 26px;
}

.middle-section .industires-section {
  background-color: transparent;
  padding: 80px 0;
  background-image: url("../images/back-pattern.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: bottom left;
}

.middle-section .industires-section .industires-content {
  margin-bottom: 50px;
}

.middle-section .industires-section .industires-content h2 {
  font-size: 40px;
  color: #222222;
  font-family: "Conv_futuramediumbt";
  letter-spacing: 0;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.middle-section .industires-section .industires-content h2::after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
  width: 50px;
}

.middle-section .industires-section .industires-content p {
  text-align: center;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 30px;
}

.middle-section .industires-section .industires-content p span {
  display: block;
}

.middle-section .industires-section .tabs-div {
  margin-bottom: 50px;
}

.middle-section .industires-section .tabs-div .industres-tab {
  border: 0;
}

.middle-section .industires-section .tabs-div .industres-tab li {
  display: inline-block;
  margin-right: 10px;
  border: 0;
}

.middle-section .industires-section .tabs-div .industres-tab li a {
  padding: 10px 20px;
  background: #DBDBDB;
  font-size: 14px;
  color: #222222;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  font-family: "futurabook";
  margin-bottom: 10px;
  display: block;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .industires-section .tabs-div .industres-tab li a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ED5C37;
  background: rgba(237, 92, 55, 0.1);
  border: 1px solid #ED5C37;
}

.middle-section .industires-section .tabs-div .industres-tab li a.active {
  color: #ED5C37;
  background: rgba(237, 92, 55, 0.1);
  border: 1px solid #ED5C37;
}

.middle-section .industires-section .industires-content-div .tab-content .tab-pane {
  opacity: 1;
}

.middle-section .industires-section .industires-content-div .info-industires {
  padding: 40px;
}

.middle-section .industires-section .industires-content-div .info-industires h3 {
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  line-height: 30px;
  font-family: "Conv_futuramediumbt";
}

.middle-section .industires-section .industires-content-div .info-industires p {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 26px;
}

.middle-section .industires-section .industires-content-div .info-industires .hide_txt {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.middle-section .industires-section .industires-content-div .info-industires .readmore_btn {
  background-color: transparent;
  border: transparent;
  padding: 0 !important;
  color: #ED5C37;
  font-size: 18px;
  font-family: "futurabook";
  line-height: 26px;
  outline: none;
}

.middle-section .our-client-section {
  padding: 100px 0;
  background-color: #ffffff;
}

.middle-section .our-client-section .our-client-content {
  margin-bottom: 50px;
}

.middle-section .our-client-section .our-client-content h2 {
  font-size: 40px;
  color: #222222;
  font-family: "Conv_futuramediumbt";
  letter-spacing: 0;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.middle-section .our-client-section .our-client-content h2::after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
  width: 50px;
}

.middle-section .our-client-section .ourclient-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 100px;
}

.middle-section .our-client-section .ourclient-content .client-profile {
  height: 80px;
  width: 80px;
  overflow: hidden;
  margin-bottom: 40px;
}

.middle-section .our-client-section .ourclient-content p {
  font-size: 18px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  line-height: 30px;
}

.middle-section .our-client-section .ourclient-content .owner {
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .our-client-section .ourclient-content .owner h3 {
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  text-align: center;
  font-family: "Conv_futuramediumbt";
}

.middle-section .our-client-section .ourclient-content .owner P {
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
}

.middle-section .our-client-section .owl-theme .owl-nav {
  position: relative;
  top: -50%;
}

.middle-section .our-client-section .owl-theme .owl-nav .owl-prev {
  left: -50px;
  position: absolute;
}

.middle-section .our-client-section .owl-theme .owl-nav .owl-prev:hover {
  background-color: transparent;
}

.middle-section .our-client-section .owl-theme .owl-nav .owl-prev:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .our-client-section .owl-theme .owl-nav .owl-next {
  right: -50px;
  position: absolute;
}

.middle-section .our-client-section .owl-theme .owl-nav .owl-next:hover {
  background-color: transparent;
}

.middle-section .our-client-section .owl-theme .owl-nav .owl-next:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .logo-client-section {
  padding: 80px 0;
  background-color: #F2F2F2;
}

.middle-section .logo-client-section .logo-box {
  height: 80px;
  width: 80px;
  overflow: hidden;
  margin: 0 30px;
  border-radius: 100px;
  border: 2px solid transparent;
}

.middle-section .logo-client-section .logo-box img {
  width: 100%;
}

.middle-section .logo-client-section .logo-box:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .logo-client-section .drop:hover {
  cursor: pointer;
  border: 2px solid #176fff;
}

.middle-section .logo-client-section .google:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
}

.middle-section .logo-client-section .dribble:hover {
  cursor: pointer;
  border: 2px solid #d75887;
}

.middle-section .logo-client-section .uber:hover {
  cursor: pointer;
  border: 2px solid #000000;
}

.middle-section .logo-client-section .zen:hover {
  cursor: pointer;
  border: 2px solid #02363d;
}

.middle-section .logo-client-section .tesla:hover {
  cursor: pointer;
  border: 2px solid #d03832;
}

.middle-section .logo-client-section .cloud:hover {
  cursor: pointer;
  border: 2px solid #00a1e0;
}

.middle-section .logo-client-section .shopy:hover {
  cursor: pointer;
  border: 2px solid #9ebe59;
}

.middle-section .our-work-section {
  padding: 80px 0;
  background-color: #FAFAFA;
}

.middle-section .our-work-section .our-work-content {
  margin-bottom: 60px;
}

.middle-section .our-work-section .our-work-content h2 {
  font-size: 40px;
  color: #222222;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

.middle-section .our-work-section .our-work-content h2::after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
}

.middle-section .our-work-section .our-work-content p {
  font-size: 18px;
  color: #666666;
  letter-spacing: 0;
  line-height: 30px;
}

.middle-section .our-work-section .our-work-list {
  margin-bottom: 50px;
  padding: 0 15px;
}

.middle-section .our-work-section .our-work-list .col-lg-6 {
  padding: 0;
}

.middle-section .our-work-section .our-work-list .col-lg-6 a {
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.middle-section .our-work-section .our-work-list .col-lg-6 a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  z-index: 999;
  position: relative;
  -webkit-box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
          box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
}

.middle-section .our-work-section .see-more-work .btn-see-more {
  padding: 6px 30px 6px 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 250px;
  height: 100%;
}

.middle-section .our-work-section .see-more-work .btn-see-more span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 30px;
}

.middle-section .our-work-section .see-more-work .btn-see-more:hover span {
  padding-left: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .your-team-section {
  padding: 80px 0;
  background-color: #ffffff;
}

.middle-section .your-team-section .your-team-content {
  margin-bottom: 50px;
}

.middle-section .your-team-section .your-team-content h2 {
  font-size: 40px;
  color: #222222;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  position: relative;
  margin-bottom: 60px;
}

.middle-section .your-team-section .your-team-content h2::after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
}

.middle-section .your-team-section .your-team-content p {
  font-size: 18px;
  color: #666666;
  letter-spacing: 0;
  line-height: 30px;
}

.middle-section .your-team-section .your-team-content p span {
  display: block;
}

.middle-section .your-team-section .team-profile {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.middle-section .your-team-section .team-profile:hover {
  z-index: 999;
  position: relative;
  -webkit-box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
          box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
}

.middle-section .your-team-section .team-profile .profile-img {
  min-height: 380px;
  max-height: 380px;
  width: 100%;
  overflow: hidden;
}

.middle-section .your-team-section .team-profile .profile-detail {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ED5C37;
  height: 100%;
}

.middle-section .your-team-section .team-profile .profile-detail h3 {
  font-size: 24px;
  color: #333333;
  text-align: center;
  line-height: 30px;
  font-family: "Conv_futuramediumbt";
}

.middle-section .your-team-section .team-profile .profile-detail p {
  font-size: 18px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
}

.middle-section .book-cunsltation-section {
  padding: 40px 0 70px 0;
}

.middle-section .book-cunsltation-section .logo-inner-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.middle-section .book-cunsltation-section .logo-inner-page img {
  width: 80px;
  display: block;
}

.middle-section .book-cunsltation-section .book-content h2 {
  margin-bottom: 30px;
  font-size: 40px;
  color: #222222;
  font-family: "Conv_futuramediumbt";
  letter-spacing: 0;
  text-align: center;
  position: relative;
}

.middle-section .book-cunsltation-section .book-content h2::after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 50px;
  margin: 0 auto;
}

.middle-section .book-cunsltation-section .book-content P {
  text-align: center;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  line-height: 30px;
}

.middle-section .form-section {
  background-image: url("../images/back-pattern.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: bottom left;
}

.middle-section .form-section .inner-form .white-bg-form {
  padding: 80px 100px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 61px 0 rgba(231, 231, 231, 0.19);
          box-shadow: 0 0 61px 0 rgba(231, 231, 231, 0.19);
  margin-bottom: 100px;
}

.middle-section .form-section .inner-form .white-bg-form .form-group {
  margin-bottom: 20px;
}

.middle-section .form-section .inner-form .white-bg-form .form-group label {
  color: #666666;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25.6px;
  font-family: "futurabook";
  margin-bottom: 0px;
}

.middle-section .form-section .inner-form .white-bg-form .form-group .form-control {
  border: 0;
  border-bottom: 1px solid #666666;
  font-size: 20px;
  line-height: 30px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "futurabook";
  outline: 0;
  caret-color: #ED5C37;
  padding: 5px 0;
}

.middle-section .form-section .inner-form .white-bg-form .form-group .form-control:focus {
  border-bottom: 1px solid #ED5C37;
}

.middle-section .form-section .inner-form .white-bg-form .form-group .btn-send {
  font-size: 24px;
  letter-spacing: 0;
  text-align: center;
  display: block;
  width: 100%;
  background-color: #ED5C37;
  color: #fafafa;
}

.middle-section .form-section .inner-form .white-bg-form .form-group .btn-send:hover {
  background-color: #f2f2f2;
  color: #ED5C37;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
}

.middle-section .form-section .inner-form .white-bg-form .drop-dwon-div {
  margin-bottom: 50px;
}

.footer {
  background-color: #ED5C37;
}

.footer .footre-content {
  background-color: #ED5C37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0 50px 0;
}

.footer .footre-content h3 {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 5px;
  text-align: left;
  font-family: "Conv_futuralightbt";
  text-transform: uppercase;
  opacity: .5;
}

.footer .footre-content h2 {
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 60px;
  font-family: "Conv_futuramediumbt";
}

.footer .footre-content h2 span {
  display: block;
}

.footer .footre-content h2 a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-family: "Conv_BaskervilleItalicBT";
  border-bottom: 1px solid transparent;
}

.footer .footre-content h2 a:hover {
  border-bottom: 1px solid #ffffff;
}

.footer .footer-links {
  padding: 0 0 20px 0;
}

.footer .footer-links .footer-title {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 3px;
  text-align: left;
  font-family: "Conv_futuralightbt";
  text-transform: uppercase;
  opacity: .5;
  margin-bottom: 10px;
  display: block;
}

.footer .footer-links .footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-links .footer-list li {
  display: block;
  color: #ffffff;
}

.footer .footer-links .footer-list li a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: .5px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.footer .footer-links .footer-list li a:hover {
  opacity: .75;
}

.footer .bg-footer {
  background-color: #ED5C37;
  color: #ffffff;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 0 0 280px 0;
  margin-bottom: -46px;
  display: none;
}

.footer span {
  color: #ffffff !important;
}

.footer .footer-copy {
  background-color: #ED5C37;
  padding: 15px 0;
  border-top: 1px solid #ffffff;
}

.footer .footer-copy .blog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-copy .blog-list li {
  display: inline-block;
  color: #ffffff;
}

.footer .footer-copy .blog-list li a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: .5px;
  padding: 0 5px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  opacity: .75;
}

.footer .footer-copy .blog-list li a:hover {
  opacity: 1;
}

.footer .footer-copy .copyright-text {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.footer .footer-copy .copyright-text P {
  margin-bottom: 0;
  line-height: 24px;
}

.footer .footer-copy .social-media-section {
  text-align: right;
}

.footer .footer-copy .social-media-section a {
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .footer-copy .social-media-section a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  opacity: .75;
}

.footer .footer-copy .social-media-section a:hover {
  -webkit-transition: all .3ws ease-in-out;
  transition: all .3ws ease-in-out;
}

.footer .footer-copy .social-media-section a:hover img {
  opacity: 1;
}

.footer-bg-transperant {
  padding-top: 30px;
  background-color: transparent;
}

.footer-bg-transperant .footre-content {
  background-color: transparent;
}

.footer-bg-transperant .bg-footer-inner {
  background-color: transparent;
  background-image: url("../images/footer-2.png");
  display: block !important;
}

.footer-bg-transperant .footer-copy {
  background-color: #dbdbdb;
}

.inner-page-section {
  padding: 100px 0;
}

.inner-page-section .heading-content h2 {
  font-size: 40px;
  color: #222222;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  position: relative;
  margin-bottom: 60px;
}

.inner-page-section .heading-content h2:after {
  content: "";
  border-bottom: 4px solid #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
}

.inner-page-section .inner-page-content P {
  font-size: 18px;
  color: #666666;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 30px;
}

.inner-page-section .content-box-inner {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.inner-page-section .content-box-inner h3 {
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  text-align: center;
  line-height: 30px;
  font-family: "Conv_futuramediumbt";
  letter-spacing: 0;
}

.inner-page-section .content-box-inner P {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 18px;
}

@media (min-width: 1130px) {
  .home-inner {
    max-width: 1130px;
    width: 100%;
  }
  .offset-xl-2-zero {
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 13px;
    padding: 8px 10px;
  }
}

@media (min-width: 1920px) {
  .home-inner {
    max-width: 1920px;
    width: 100%;
  }
  .offset-xl-2-zero {
    margin-left: 16.666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .our-service-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-service-inner {
    max-width: 1920px;
    width: 100%;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    padding: 8px 15px;
  }
}

/*############################## end Home section ###############################*/
/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (max-width: 767px) {
  body {
    background-image: none;
  }
  .header .navbar {
    padding: 15px 0;
    background-color: #ffffff;
    z-index: 999;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 170px;
    height: auto;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
  }
  .header .navbar .collapse {
    padding: 10px 0;
  }
  .header .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
  }
  .header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #ED5C37;
  }
  .header .navbar .collapse .navbar-nav .nav-btn .nav-link {
    background-color: #ED5C37;
    color: #ffffff;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
  }
  .header .navbar .collapse .navbar-nav .nav-btn .nav-link:hover {
    background-color: #ffffff;
    color: #ED5C37;
  }
  .middle-section .middle-inner {
    background-image: none;
  }
  .middle-section .home-section {
    background-image: none;
  }
  .middle-section .home-section .home-inner {
    background-image: none;
    padding: 50px 0;
  }
  .middle-section .home-section .home-inner .home-welcome .welcome-content {
    padding-left: 0%;
  }
  .middle-section .home-section .home-inner .home-welcome .welcome-content h1 {
    padding: 50px 40px;
    margin-bottom: 30px;
    font-size: 40px;
    color: #222222;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 56px;
    text-align: left;
    position: relative;
  }
  .middle-section .home-section .home-inner .home-welcome .welcome-content h1::after {
    content: "";
    border-bottom: 4px solid #ED5C37;
    border-radius: 100px;
    position: absolute;
    left: 40px;
    top: 105px;
    bottom: auto;
    width: 50px;
  }
  .middle-section .home-section .home-inner .home-welcome .welcome-content P {
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    line-height: 30px;
    font-weight: 500;
  }
  .middle-section .home-section .home-inner .home-welcome .welcome-content P span {
    display: block;
  }
  .middle-section .home-section .home-inner .home-welcome .solution-tabs {
    padding: 30px 0;
    padding-left: 0%;
  }
  .middle-section .home-section .home-inner .home-welcome .solution-tabs ul {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .middle-section .home-section .home-inner .home-welcome .solution-tabs ul li {
    display: inline-block;
    list-style: none;
  }
  .middle-section .home-section .home-inner .home-welcome .solution-tabs ul li a {
    padding: 6px 13px;
    background: #F1F3F5;
    font-size: 14px;
    color: #222222;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    font-weight: 500;
    margin-right: 6px;
    line-height: 22px;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .middle-section .home-section .home-inner .home-welcome .solution-tabs ul li a:hover {
    background: rgba(237, 92, 55, 0.1);
    color: #ED5C37;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .middle-section .home-section .home-inner .home-welcome .solution-tabs ul li a.active {
    padding: 6px 13px;
    background: rgba(237, 92, 55, 0.1);
    font-size: 14px;
    color: #ED5C37;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    font-weight: 500;
  }
  .middle-section .home-section .home-inner .tab-home .tab-pane {
    width: 100%;
    max-height: auto;
    min-height: auto;
  }
  .middle-section .home-section .home-inner .tab-home .tab-pane img {
    width: 100%;
  }
  .middle-section .our-strtagic-section {
    padding: 60px 0;
  }
  .middle-section .our-strtagic-section .our-strtagic-inner .stratagic-inner {
    padding: 50px 0 0 0;
  }
  .middle-section .our-strtagic-section .our-strtagic-inner .stratagic-inner .tab-strtagic .tab-pane .startgic-content h2 {
    margin-bottom: 50px;
    font-size: 34px;
    color: #222222;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    position: relative;
  }
  .middle-section .timeline-wrapper {
    padding: 0;
    min-width: 100%;
  }
  .middle-section .timeline-wrapper .StepProgress {
    padding: 0 0 0 0 !important;
  }
  .middle-section .timeline-wrapper .StepProgress::before {
    height: 100%;
    top: 0;
    display: none;
  }
  .middle-section .timeline-wrapper .StepProgress .StepProgress-item {
    padding: 0 0;
    display: inline;
  }
  .middle-section .timeline-wrapper .StepProgress .StepProgress-item::before {
    display: none !important;
  }
  .middle-section .timeline-wrapper .StepProgress .StepProgress-item::after {
    display: none;
  }
  .middle-section .timeline-wrapper .StepProgress .StepProgress-item a {
    padding: 5px 10px;
    display: inline-block;
    left: 0;
    background-image: linear-gradient(216deg, #FF1515 0%, #ED5C37 59%);
    color: #ffffff !important;
    margin-bottom: 6px !important;
  }
  .middle-section .timeline-wrapper .StepProgress .StepProgress-item a div {
    color: #ffffff !important;
  }
  .middle-section .timeline-wrapper .StepProgress .StepProgress-item a.active::before {
    display: none;
  }
  .middle-section .timeline-wrapper .StepProgress .StepProgress-item a.active::after {
    display: none;
  }
  .middle-section .timeline-wrapper .StepProgress .StepProgress-item a.active img {
    display: none;
  }
  .middle-section .like-wat-you-see {
    background-image: none;
  }
  .middle-section .like-wat-you-see .like-wat-you-see-inner {
    background-image: none;
  }
  .middle-section .like-wat-you-see h2 {
    text-align: center;
    font-size: 22px;
    line-height: 36px;
  }
  .middle-section .like-wat-you-see h2 span {
    position: relative;
  }
  .middle-section .like-wat-you-see h2 span::after {
    left: 5%;
    bottom: -10px;
    width: 90%;
  }
  .middle-section .like-wat-you-see .bookcunstation {
    padding: 40px 0 10px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .middle-section .expert-section {
    padding: 60px 0 40px 0;
  }
  .middle-section .expert-section .pad-left-0 {
    padding-left: 15px;
  }
  .middle-section .expert-section .pad-right-0 {
    padding-right: 15px;
  }
  .middle-section .expert-section img {
    margin-bottom: 20px;
  }
  .middle-section .expert-section .expert-content h2 {
    font-size: 32px;
  }
  .middle-section .our-client-section {
    padding: 60px 0;
  }
  .middle-section .our-client-section .our-client-content {
    padding: 20px 0px;
    margin-bottom: 0;
  }
  .middle-section .our-client-section .our-client-content h2 {
    font-size: 32px;
  }
  .middle-section .our-client-section .ourclient-content {
    padding: 0 20px;
  }
  .middle-section .our-client-section .owl-theme .owl-nav {
    position: relative;
    top: -70%;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-prev {
    left: 30px;
    position: absolute;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-prev:hover {
    background-color: transparent;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-prev:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 0;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-next {
    right: 30px;
    position: absolute;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-next:hover {
    background-color: transparent;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-next:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 0;
  }
  .middle-section .your-team-section .team-profile {
    margin-bottom: 30px;
  }
  .middle-section .your-team-section .team-profile .profile-img {
    min-height: auto;
    max-height: auto;
    width: 100%;
    overflow: hidden;
  }
  .middle-section .industires-section {
    background-image: none;
  }
  .middle-section .industires-section .industires-content h2 {
    font-size: 32px;
  }
  .middle-section .industires-section .industires-content-div .info-industires {
    padding: 40px 15px;
  }
  .middle-section .industires-section .tabs-div .industres-tab li {
    margin-right: 6px;
  }
  .middle-section .industires-section .tabs-div .industres-tab li a {
    padding: 6px 12px;
    background: #DBDBDB;
    font-size: 14px;
    color: #222222;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
    border: 1px solid transparent;
  }
  .middle-section .our-service-section .our-service-box {
    padding: 60px 20px 20px 20px;
  }
  .middle-section .our-service-section .our-service-box h2 {
    font-size: 32px;
  }
  .middle-section .our-service-section .owl-theme .owl-nav {
    margin-top: 10px;
    position: relative;
    left: 0px;
    bottom: 32px;
  }
  .middle-section .logo-client-section {
    padding: 60px 0;
  }
  .middle-section .book-cunsltation-section {
    padding: 60px 0 50px 0;
  }
  .middle-section .form-section {
    background-image: none;
  }
  .middle-section .form-section .inner-form .white-bg-form {
    padding: 60px 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 61px 0 rgba(231, 231, 231, 0.19);
    box-shadow: 0 0 61px 0 rgba(231, 231, 231, 0.19);
    margin-bottom: 100px;
  }
  .middle-section .form-section .inner-form .white-bg-form .form-group {
    margin-bottom: 20px;
  }
  .middle-section .form-section .inner-form .white-bg-form .form-group label {
    margin-bottom: 10px;
  }
  .middle-section .form-section .inner-form .white-bg-form .form-group .form-control {
    font-size: 20px;
    line-height: 30px;
  }
  .footer .footer-copy .blog-list {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .footer-copy .copyright-text {
    margin-bottom: 10px;
  }
  .footer .footer-copy .social-media-section {
    text-align: center;
    margin-bottom: 10px;
  }
}

/* Landscape */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .middle-section .home-section .home-inner .home-welcome .welcome-content {
    padding-left: 8%;
  }
  .middle-section .home-section .home-inner .home-welcome .welcome-content h1 {
    padding: 20px 0 10px 0;
    margin-bottom: 30px;
  }
  .middle-section .home-section .home-inner .home-welcome .solution-tabs {
    padding-left: 8%;
  }
  .middle-section .our-client-section .owl-theme .owl-nav {
    display: block;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-next {
    right: 0;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-prev {
    left: 0;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .header .navbar {
    background-color: #ffffff;
    z-index: 999;
  }
  .header .navbar .collapse1 {
    display: block;
  }
  .header .navbar .collapse1 .navbar-nav {
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 30px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
  }
  .middle-section .home-section .home-inner .home-welcome .welcome-content {
    padding-left: 5%;
  }
  .middle-section .home-section .home-inner .home-welcome .solution-tabs {
    padding-left: 5%;
  }
  .middle-section .StepProgress::before {
    height: 100% !important;
    top: 0% !important;
  }
  .middle-section .expert-section .pad-left-0 {
    padding-left: 15px !important;
  }
  .middle-section .expert-section .pad-right-0 {
    padding-right: 15px !important;
  }
  .middle-section .expert-section img {
    margin-bottom: 20px;
  }
  .middle-section .expert-section .order-sm-1 {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .middle-section .expert-section .order-sm-2 {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
  }
  .middle-section .like-wat-you-see h2 {
    text-align: center;
  }
  .middle-section .like-wat-you-see .bookcunstation {
    padding: 40px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .middle-section .our-client-section .ourclient-content {
    padding: 40px 20px;
  }
  .middle-section .your-team-section .team-profile {
    margin-bottom: 30px;
  }
  .middle-section .your-team-section .team-profile .profile-img {
    min-height: auto;
    max-height: auto;
    width: 100%;
    overflow: hidden;
  }
  .middle-section .our-service-section .owl-theme .owl-nav {
    left: -270px;
    bottom: -10px;
    display: block;
  }
  .middle-section .your-team-section .team-profile .profile-detail h3 {
    font-size: 16px;
  }
  .middle-section .your-team-section .team-profile .profile-detail p {
    font-size: 14px;
  }
  .middle-section .our-client-section .owl-theme .owl-nav {
    display: block;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-next {
    right: 0;
  }
  .middle-section .our-client-section .owl-theme .owl-nav .owl-prev {
    left: 0;
  }
  .footer .footer-copy .blog-list {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .footer-copy .copyright-text {
    margin-bottom: 10px;
  }
  .footer .footer-copy .social-media-section {
    text-align: center;
    margin-bottom: 10px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
  .middle-section .home-section .home-inner .tab-home .tab-pane {
    max-height: 100%;
    min-height: 415px;
  }
  .middle-section .our-service-section .owl-theme .owl-nav {
    left: -280px;
    bottom: 10px;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .navbar .navbar-toggler {
    top: 15px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sidenav-new-menu ul li {
    padding: 5px 20px;
  }
  .sidenav-new-menu ul li a {
    white-space: nowrap;
    font-size: 16px !important;
  }
  .width-menu {
    width: 40%;
    display: block !important;
  }
  .closebtn {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  #main {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
  }
  .middle-section .home-section .home-inner .tab-home .tab-pane {
    width: 100%;
    max-height: 650px;
    min-height: auto;
    overflow: hidden;
  }
}

.timeline-wrapper .StepProgress {
  display: inline-block;
  border: 0;
}

.bold {
  font-weight: bold;
  font-size: 16px;
  color: #666666;
  font-weight: 500;
}

.time {
  position: absolute;
  left: -110px;
}

.timeline-wrapper {
  padding-left: 80px;
  min-width: 400px;
  font-family: "futurabook";
  font-size: 14px;
}

.StepProgress {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  padding-left: 45px;
  list-style: none;
}

.StepProgress::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: -50px;
  left: 15px;
  width: 10px;
  height: 150%;
  border-left: 2px solid #CCC;
}

.StepProgress strong {
  display: block;
}

.StepProgress-item {
  position: relative;
  counter-increment: list;
}

.StepProgress-item a {
  display: block;
  padding-left: 50px;
  position: relative;
  left: -41px;
  text-decoration: none;
  z-index: 102;
}

.StepProgress-item a img {
  position: absolute;
  left: 0;
  top: 3px;
  display: none;
}

.StepProgress-item a img.img-up-2 {
  top: 1px;
  left: 1px;
}

.StepProgress-item a .left-1 {
  left: 1px;
}

.StepProgress-item a:hover .bold {
  color: #ED5C37;
}

.StepProgress-item:not(:last-child) {
  padding-bottom: 80px;
}

.StepProgress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}

.StepProgress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 1px;
  left: -39px;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  background-color: #ffffff;
}

.StepProgress-item.active a.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 102;
}

.StepProgress-item.active a.active .bold {
  color: #ED5C37;
}

.StepProgress-item.active a.active img {
  display: block;
  z-index: 103;
}

.StepProgress-item.active a.active::after {
  content: '';
  position: absolute;
  font-size: 10px;
  color: #FFF;
  text-align: center;
  border: 5px solid #ffffff;
  background-color: transparent;
  top: -13px;
  left: -13px;
  width: 48px;
  border-radius: 100px;
  height: 48px;
  z-index: 100;
}

.StepProgress-item.active a.active::before {
  content: '';
  position: absolute;
  font-size: 10px;
  color: #FFF;
  text-align: center;
  border: 2px solid rgba(237, 92, 55, 0.9);
  background-color: transparent;
  top: -14px;
  left: -14px;
  width: 50px;
  border-radius: 100px;
  height: 50px;
  z-index: 100;
}

.StepProgress-item.active::before {
  border-left: 2px solid rgba(237, 92, 55, 0.4);
}

.StepProgress-item.active::after {
  content: '';
  font-size: 10px;
  color: #FFF;
  text-align: center;
  border: 2px solid rgba(237, 92, 55, 0.4);
  background-color: #ffffff;
  top: -9px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(216deg, #FF1515 0%, #ED5C37 59%);
  z-index: 77;
}

.sidenav-new-menu .closebtn {
  display: none;
}

@media (max-width: 767px) {
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sidenav-new-menu ul li {
    padding: 0 20px;
  }
  .sidenav-new-menu ul li a {
    white-space: nowrap;
    font-size: 16px !important;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  #main {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sidenav-new-menu ul li {
    padding: 0 20px;
  }
  .sidenav-new-menu ul li a {
    white-space: nowrap;
    font-size: 16px !important;
  }
  .width-menu {
    width: 40%;
    display: block !important;
  }
  .closebtn {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  #main {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
  }
}
/*# sourceMappingURL=custom.css.map */